@page
@model Project3.Web.Entry.Pages.Auth.Logout

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
<script>
    window.location="/";
</script>
</body>
</html>